{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>
  {% block title %}
      Нет шапки:(
  {% endblock %}
  </title>
  <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>
<body>

      <main>
    <div class="container">
      <a href="/api/concepts" class="home-link"><div class="logo">MythNet</div></a>
      <a href="/api/concepts" class="home-link">Home</a>
        {% block content %}
        Пусто:(
        {% endblock%}
    </div>
</main>
<footer>
  
</footer>
</body>
</html> 
